In [2]:
1+2

3

In [3]:
1+1
1+2

3

In [4]:
1+2

3

In [5]:
1+1

2

In [6]:
print(1+2)
print(1+3)

3
4

In [8]:
a=4
b=1.5
c=1212112121222121212121221
d=1j
e=1/3
f=True

In [9]:
a+b

5.5

In [10]:
a*c

4848448484888484848484884

In [11]:
(b+d)*a

(6+4j)

In [14]:
type(1j
    )

complex

In [15]:
my_name="roshan"
print(my_name)

roshan

In [16]:
my_list=[1,2,3,4,5,6]
print(my_list)

[1, 2, 3, 4, 5, 6]

In [17]:
my_list+[7]

[1, 2, 3, 4, 5, 6, 7]

In [18]:
my_list+=[8,9,10]
my_list

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [19]:
my_list.append(10)

In [20]:
my_list

[1, 2, 3, 4, 5, 6, 8, 9, 10, 10]

In [5]:
1+5

6

In [1]:
first_name="roshan"
last_name="rush"
formatted_name="%s,%s" %(first_name,last_name)

In [2]:
print(formatted_name)

roshan,rush

In [3]:
import math as mm

In [6]:
n=52
k=1
mm.factorial(n)/(mm.factorial(k)*mm.factorial(n-k))

52.0

In [9]:
for counter in range (2,10,3):
    print (counter)

2
5
8

In [1]:
print("Hello world")

Hello world

In [2]:
# Shift + enter
print(4+6)

10

In [3]:
a = 9
b = 5

In [4]:
type(a)

int

In [5]:
print(a)
print(b)

9
5

In [6]:
a = "Hello folks"

In [7]:
print(a)

Hello folks

In [8]:
type(a)

str

# control flow

In [9]:
n = 9

if (n>=10):
  print("Var n is greater than 10")
elif (n<5):
  print("var n is smaller than 5")
else:
  print("i'm inside else condition")

i'm inside else condition

In [10]:
i=0
while (i<=10):
  print(i, end=", " )
  i = i+1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [11]:
for i in range(22, 30):
  print(i, end= " ")

22 23 24 25 26 27 28 29

In [12]:
def func_name(name):
  print("Hello " + name)

In [13]:
func_name("Mohit Uniyal")

Hello Mohit Uniyal

# Data Structures
List
tuple
sets
Dictionary

In [14]:

# Strings
s = "Hello Coding Blocks"

In [15]:
type(s)

str

In [16]:
print(s)

Hello Coding Blocks

In [17]:
s[9]

'i'

In [18]:
s[-1]

's'

In [19]:

# slicing 
# var[start_index : end_index + 1]
s[0 : 4 ]

'Hell'

In [20]:
s[ : ]

'Hello Coding Blocks'

In [21]:

s[ 0 : 13 : 1]

'Hello Coding '

In [22]:
# heterogenous
li = [3,6,9,2,10, 34, "Hello", "Python", False, 4.56, [1,2,3], 9.0]

In [23]:
li

[3, 6, 9, 2, 10, 34, 'Hello', 'Python', False, 4.56, [1, 2, 3], 9.0]

In [24]:
for e in li:
  print(e)

3
6
9
2
10
34
Hello
Python
False
4.56
[1, 2, 3]
9.0

In [25]:
for e in li:
  print(e,end=",")

3,6,9,2,10,34,Hello,Python,False,4.56,[1, 2, 3],9.0,

In [26]:
li[0]

3

In [27]:
li[-1]

9.0

In [28]:

# list slicing
li[2: 8]

[9, 2, 10, 34, 'Hello', 'Python']

In [29]:
li[::-1]
#pritns in reverse

[9.0, [1, 2, 3], 4.56, False, 'Python', 'Hello', 34, 10, 2, 9, 6, 3]

In [30]:
li.append("JAVA")

In [31]:
li

[3, 6, 9, 2, 10, 34, 'Hello', 'Python', False, 4.56, [1, 2, 3], 9.0, 'JAVA']

In [32]:
li.pop()

'JAVA'

In [33]:
# Dictionary
dic = {
    "samosa" : 10,
    "burger" : 25,
    "pizza" : 70
}

In [34]:
dic

{'samosa': 10, 'burger': 25, 'pizza': 70}

In [36]:
dic.keys()

dict_keys(['samosa', 'burger', 'pizza'])

In [37]:
dic.values()

dict_values([10, 25, 70])

In [38]:
    dic['burger']

25

In [39]:
dic['pizza']

70

In [47]:
dic['juice'] = 20

In [48]:
dic

{'samosa': 10, 'burger': 25, 'pizza': 70, 'juice': 20}

In [49]:
# do not get an error
dic.get('icecream')

In [50]:
dic['fruits'] = {
    'mango' : 15,
    'banana' : 20,
    'orange' : 10
}

In [51]:
dic['fruits']['orange']

10

In [52]:
dic['fruits']['orange']

10